#jform_question_7 {
    width: 17em;
}

.chosen-container .chosen-drop {
    z-index: 1040;
}

#jform_isbn_range, #jform_ismn_range  {
    width: 20em;
}

#publisherIsbnRanges table, #publisherIsmnRanges table {
    text-align: center;
    width: 45em;
}
.isbn_range_col_1, .ismn_range_col_1 {
    width: 10em;
}

.isbn_range_col_2, .ismn_range_col_2 {
    width: 10em;
}

.isbn_range_col_3, .ismn_range_col_3 {
    width: 5em;
}

.isbn_range_col_4, .ismn_range_col_4 {
    width: 5em;
}

.isbn_range_col_5, .ismn_range_col_5 {
    width: 5em;
}

.isbn_range_col_5_activate, .ismn_range_col_5_activate {
    width: 5em;
    cursor: pointer;
}

.isbn_range_active_row > td, .ismn_range_active_row > td {
    padding-bottom: .8em;
}

.header {
    background-color: #5E6E86!important;
}

.icon-delete {
    cursor: pointer;
}

#jform_additional_info {
    width: 90%;
    height: 30em;
}
