#jform_role_2_chosen, #jform_role_3_chosen {
    margin-bottom: 2em;
}

.chosen-container .chosen-drop {
    z-index: 1040;
}

.header {
    background-color: #860F98!important;
}

.icon-delete, .icon-trash {
    cursor: pointer;
}

#jform_comments {
    width: 90%;
    height: 30em;
}

span.icon-trash {
    margin-left: 1em;
}
