#jform_question_7 {
    width: 17em;
}

.chosen-container .chosen-drop {
    z-index: 1040;
}

#jform_isbn_range {
        width: 20em;
}

#publisherIsbnRanges table {
	text-align: center;
	width: 45em;
}
.isbn_range_col_1 {
	width: 10em;
}

.isbn_range_col_2 {
	width: 10em;
}

.isbn_range_col_3 {
	width: 5em;
}

.isbn_range_col_4 {
	width: 5em;
}

.isbn_range_col_5 {
	width: 5em;
}

.isbn_range_col_5_activate {
	width: 5em;
	cursor: pointer;
}

.isbn_range_active_row > td {
	padding-bottom: .8em;
}

.header {
	background-color: #5E6E86!important;
}



