.error {
	color: red;
}

.form_header {
        margin-bottom: 1.5em;
}

#registerMonographPublisherForm textarea {
        width: 30em;
        height: 6em;
}

#confirmation, .question, input[type="text"].question {
        display:inline;
}


.field_info {
        font-size: 80%;
        font-style: italic;
		margin-bottom: 1em;
}

.sub_title {
        font-size: 105%;
        font-weight: bold;
        margin-bottom: 1em;
}

.pre_field {
        margin-top: 1em;
		margin-bottom: 1em;
}

.post_field {
        margin-bottom: 1em;
}
