<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="messaging"
		label="COM_ISBNREGISTRY_CONFIG_MESSAGING_LABEL"
		description="COM_ISBNREGISTRY_CONFIG_MESSAGING_DESC"
		addfieldpath="administrator/components/com_isbnregistry/models/fields"
		>
		
		<field type="spacer" name="spacer1" hr="true" />
		
		<field type="spacer" name="spacer2" label="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_BIG_PUBLISHER" />
		
        <field
            name="message_type_big_publisher_isbn" 
            type="MessageTypePreferences" 
            default="" 
            label="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_BIG_PUBLISHER_ISBN_LABEL"
            description="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_BIG_PUBLISHER_ISBN_DESC"
        />	
		
        <field
            name="message_type_big_publisher_ismn" 
            type="MessageTypePreferences" 
            default="" 
            label="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_BIG_PUBLISHER_ISMN_LABEL"
            description="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_BIG_PUBLISHER_ISMN_DESC"
        />	
		
		<field type="spacer" name="spacer3" hr="true" />
		
		<field type="spacer" name="spacer4" label="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_PUBLISHER_REGISTERED" />
		
        <field
            name="message_type_publisher_registered_isbn" 
            type="MessageTypePreferences" 
            default="" 
            label="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_PUBLISHER_REGISTERED_ISBN_LABEL"
            description="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_PUBLISHER_REGISTERED_ISBN_DESC"
        />	
		
        <field
            name="message_type_publisher_registered_ismn" 
            type="MessageTypePreferences" 
            default="" 
            label="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_PUBLISHER_REGISTERED_ISMN_LABEL"
            description="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_PUBLISHER_REGISTERED_ISMN_DESC"
        />	

		<field type="spacer" name="spacer5" hr="true" />
		
		<field type="spacer" name="spacer6" label="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_IDENTIFIER_CREATED" />
		
        <field
            name="message_type_identifier_created_isbn" 
            type="MessageTypePreferences" 
            default="" 
            label="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_IDENTIFIER_CREATED_ISBN_LABEL"
            description="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_IDENTIFIER_CREATED_ISBN_DESC"
        />	
		
        <field
            name="message_type_identifier_created_ismn" 
            type="MessageTypePreferences" 
            default="" 
            label="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_IDENTIFIER_CREATED_ISMN_LABEL"
            description="COM_ISBNREGISTRY_CONFIG_MESSAGING_MESSAGE_TYPE_IDENTIFIER_CREATED_ISMN_DESC"
        />			
	</fieldset>
	<fieldset
		name="mail"
		label="COM_ISBNREGISTRY_CONFIG_EMAIL_LABEL"
		description="COM_ISBNREGISTRY_CONFIG_EMAIL_DESC"
		>	
        <field
            name="email_from" 
            type="email" 
            default="" 
			validate="email"
            label="COM_ISBNREGISTRY_CONFIG_EMAIL_FROM_LABEL"
            description="COM_ISBNREGISTRY_CONFIG_EMAIL_FROM_DESC"
        />	
        <field
            name="identifiers_attachment_limit"
            type="number"
            label="COM_ISBNREGISTRY_CONFIG_EMAIL_IDENTIFIERS_ATTACHMENT_LIMIT_LABEL"
            description="COM_ISBNREGISTRY_CONFIG_EMAIL_IDENTIFIERS_ATTACHMENT_LIMIT_DESC"
            default="0"
            min="0"
        />	
		<field
			name="send_email"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
            label="COM_ISBNREGISTRY_CONFIG_EMAIL_SEND_LABEL"
            description="COM_ISBNREGISTRY_CONFIG_EMAIL_SEND_DESC">
			<option
				value="1">JYES</option>
			<option
				value="0">JNO</option>
		</field>		
	</fieldset>
</config>
