.error {
    color: red;
}

.form_header {
    margin-bottom: 1.5em;
}

#registerMonographPublisherForm textarea,
#isbnApplicationForm textarea {
    width: 30em;
    height: 6em;
}

#confirmation, .question, input[type="text"].question {
    display:inline;
}

.field_info {
    font-size: 80%;
    font-style: italic;
    margin-bottom: 1em;
}

.sub_title {
    font-size: 105%;
    font-weight: bold;
    margin-bottom: 1em;
}

.pre_field {
    margin-top: 1em;
    margin-bottom: 1em;
}

.post_field {
    margin-bottom: 1em;
}

#question_7 {
    width: 40em;
}

input[type=checkbox].role_checkbox {
    margin-left: .3em;
}

tr.spacer_top > td {
    padding-top: 1em;
}

tr.spacer_bottom > td, .spacer_bottom  {
    padding-bottom: 1em;
}

#series_info {
    font-size: 80%;
    font-style: italic;
    font-weight: bold;
}

#plg_isbnregistry_forms_application_summary td {
    width: 18em;
}
